*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  --primary-color: #003e7e;
  --secondary-color: #ffc323;
  --white-color: #fff;
  --black-color: #000;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
  width: 100%;
}

.burger {
  width: 30px;
  height: 30px;
  color: var(--white-color);
  font-size: 1.3rem;
}

.header h1 {
  font-size: 0.7rem;
  max-width: 80%;
}
.navigation {
  display: none;
}
.navigation.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary-color);
  width: 100%;
}

.navigation ul li {
  list-style: none;
  padding-block: 0.8rem;
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  width: 100%;
  text-align: center;
}
.navigation ul li:not(:last-child) {
  border-bottom: 1px solid var(--white-color);
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }

  .header h1 {
    font-size: 1.2rem;
  }

  .navigation {
    display: block;
  }
  .navigation ul {
    display: flex;
    gap: 1rem;
  }
  .navigation ul li {
    border-bottom: none !important;
  }
  .navigation ul li a {
    text-decoration: none;
    color: var(--white-color);
    padding: 0.5rem 1rem;
  }
  .navigation ul li a.active {
    background-color: var(--secondary-color);
    color: var(--black-color);
  }

  .navigation ul li a:hover {
    text-decoration: underline;
  }
}
